.alert-info {
    border: black 1px solid;
    padding: 15px 5px 15px 5px;
    text-align: center;
    background-color: lightskyblue;
    text-decoration: none;
}

.alert-info a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    font-size: 3.5em;
    margin-top: 2px;
}
.nav-links{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.nav-links li{
    background-color: grey;
    text-align: center;
}
